<mat-form-field [appearance]="appearance">
  <mat-label *ngIf="label" [ngStyle]="{'padding': icon ? '0 0 0 1.5rem' : '0'}">{{label}}</mat-label>
  <div style="display: flex; align-items: center;">
    <input matInput [formControl]="control" autocomplete="off"
    [required]="required"
    [placeholder]="placeholder"
    [matTooltip]="tooltip"
    [matTooltipPosition]="tooltipPosition || 'below'"
    [matTooltipHideDelay]="tooltipHideDelay || 200"
    [matTooltipShowDelay]="tooltipShowDelay || 200"
    [minlength]="counter ? counter : false"
    [maxlength]="counter ? counter : false"
    >
    <mat-icon *ngIf="icon" matPrefix style="order: -1;">{{icon}}</mat-icon>
  </div>
  <mat-hint *ngIf="hint">{{hint}}</mat-hint>
  <mat-hint *ngIf="counter" align="end">{{counter + ' / ' + (control.value ? control.value.length : 0) | farsi}}</mat-hint>
  <mat-error *ngIf="control?.invalid" style="display: flex; justify-content: space-between;">
    {{getErrorMessage()}}
    <mat-hint *ngIf="counter">{{counter + ' / ' + (control.value ? control.value.length : 0) | farsi}}</mat-hint>
  </mat-error>
</mat-form-field>
